.diagnostic-list{
    position: absolute;
    background-color: #FFFFFF;
    width: 48vw;
    height: 29vh;
    border-radius: 16px;
    margin-top: 61vh;
    margin-left: 2vw ;
    display: flex;
    flex-direction: column;
}

.headbar{
    display: grid;
    grid-template-columns: 2fr 3fr 1.3fr; 
    
    align-items: center;
    padding: 1vh 1vh;
    background: none;
    background-color: #F6F7F8;
    border-radius: 24px;
    width: 42vw;
    margin: 1vw;

    span{
        background: none;
        font-weight: 500;
    }
}

.diagnostic-list-items{
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    height: 22vh;
    width: 47vw;
    background: none;

}

.diagnostic-list-item{
    display: grid;
    grid-template-columns: 2fr 3fr 1.3fr; 
    padding: 16px 24px;
    align-items: center;
    padding: 1vh 1vw;
    margin: 0.5vh 1vw;
    background: #FFFFFF;
    border-radius: 12px;
    width: 42vw;

    span{
        background: none;
        font-size: 15px;
    }
}

.diagnostic-list-items::-webkit-scrollbar {
  width: 6px;
  
}
.diagnostic-list-items::-webkit-scrollbar-thumb {
  background: #072635;
  border-radius: 999px;
}


@media (max-width:1024px){
    .diagnostic-list .diagnostic-list-title{
        font-size: 14px;
    }

    .headbar .headbar-item{
        font-size: 13px ;
    }

    .diagnostic-list-items .diagnostic-column{
        font-size: 13px;
    }
}

@media (max-width:768px){
    .diagnostic-list .diagnostic-list-title{
        font-size: 12px;
    }
    .headbar .headbar-item{
        font-size: 11px ;
    }
    .diagnostic-list-items .diagnostic-column{
        font-size: 11px;
    }

    .headbar{
        padding: 1vh 1vh;
    }
}