.header{
    position: fixed;
    
    margin-left: 1vw;
    margin-top: 1.5vh;
    top: 0;
    width: 98vw;
    height: 6vh;
    
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 70px;
    opacity: 1;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    
    

}

.logo{
    background: none;
    width: 13vw;
    height:4vh ;
}

.navigation{ 
    background: none;
    
    ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
    background: none;

    }

    li {
        display: flex;
        align-items: center;
        justify-content: center;
        background: none;
        font-size: 12px;

        span{
            margin-right: 5px;
            background: none;
            align-items: center;
            
        }
    }

    li.active{
    color: #ffffff;
    background-color: #01F0D0 ;
    padding: 8px 16px;
    border-radius: 20px;
    }
}


.navigation li.active img.nav-icon {
    background: transparent !important;   
    filter: none !important;              
    mix-blend-mode: multiply;             
}



.doctor-info{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    height: 8vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-right: 7vh;
    width: 15vw;
    background: none;

    

}

.doctorlogo{
        background: none;
        width: 5vh;
        height: 5vh;
    }

.doctor-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: none;

    p{
        margin: 0%;
        padding: 0%;
        font-size: 10px;
        background: none;
        
    }
    h6{
        margin: 0 0 0 0;
        padding: 0%;
        font-size: 12px;
        font-weight: 800;
        background: none;
    }

}


@media (max-width : 1024px) {
 .doctor-details p{
    font-size: 8px;
 }
 .doctor-details h6{
    font-size: 10px;
 }

 .doctorlogo{
    width: 4vh;
    height: 4vh;
 }

 .doctor-info{
    margin-right: 4vh;
    width: 18vw;
 }

 .navigation ul {
      gap: 20px ;
  }

  .navigation li {
      font-size: 10px ;
  }

  .navigation li .nav-icon {
      width: 14px ;
      height: 14px ;
  }

  .navigation li span {
      margin-right: 3px ;
  }

  .settinglogo,
  .morelogo {
      width: 18px ;
      height: 18px ;
      margin-left: 4px ;
      background: none;
  }
}

@media (max-width: 768px) {
    .doctor-info .doctor-details p {
        font-size: 8px;
    }

    .doctor-info .doctor-details h6 {
        font-size: 10px;
    }

    .doctor-info .doctorlogo {
        width: 4vh;
        height: 4vh;
    }

    .doctor-info {
        margin-right: 2vh;
        width: 24vw;
    }

    .navigation ul {
      gap: 12px ;
  }

  .navigation li {
      font-size: 9px ;
  }

  .navigation li .nav-icon {
      width: 12px ;
      height: 12px ;
  }

  .navigation li span {
      margin-right: 2px ;
  }

  .settinglogo,
  .morelogo {
      width: 15px ;
      height: 15px ;
      margin-left: 4px ;
      background: none;
  }
}