.profile-info{
    position:absolute;
    margin-left: 52vw;
    margin-top: 2.5vh;
    height: 61vh;
    width: 23vw;
    background-color: #FFFFFF;
    border-radius: 16px;
}

.patient-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3vh;
    background: none;

    img{
        background: none;
        width: 6vw;
        height: 13vh;
    }

    h4{
        margin-top: 1vh;
        font-weight: 600;
        font-size: 1.0rem;
        color: #072635;
        background: none;
        margin-left: 0;
    }
}

.details{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 3vh;
    background: none;
    gap: 3vh;
    padding-left: 2vw;
    img{
        
        width: 4vh;
        height: 4vh;
        border-radius: 50%
    };
    
}

.details:first-child {
    margin-top: 3vh;
}

.details:not(:first-child) {
    margin-top: 1.5vh;
}

.info{
    background-color: #FFFFFF;
}

.detail1{
    background-color: #FFFFFF;
    color: #6b7280;
    margin: 0;
    font-size: 12px;
}

.detail2{
    background-color: #FFFFFF;
    color: #072635;
    margin: 0;
    font-size: 12px;
    font-weight: 800;
}

.edit-btn{
    margin-top: 2vh;
    margin-left: 5vw;
    width: 13vw;
    height: 5vh;
    background: #01F0D0;
    border-radius: 41px;
    border: none;
    color: #072635;
    font-weight: 800;
    font-size: 12px;
    cursor: pointer;
}

@media(max-width:1024px){

    .patient-profile{
        margin-top: 4vh;
    }
    .patient-profile .patient-image{
        width: 7vw ;
        height: 12vh;
    }

    .patient-profile h4{
        font-size: 15px;
    }

    .info .detail1{
        font-size: 10px;
    }
    .info .detail2{
        font-size: 10px;
    }
    .edit-btn{
        margin-left: 3vw;
        width: 19vw;
        font-size: 11px;
    }
}

@media(max-width:768px){
    .patient-profile{
        margin-top: 3vh;
    }

    .patient-profile .patient-image{
        width: 7vw ;
        height: 10vh;
    }

    .patient-profile h4{
        font-size: 13px;
    }

    .info .detail1{
        font-size: 9.5px;
    }
    .info .detail2{
        font-size: 9.5px;
    }

    .edit-btn{
        margin-left: 3vw;
        width: 19vw;
        font-size: 10px;
    }

}

