.results{
    position: absolute;
    margin-top: 66vh;
    margin-left: 52vw;
    background-color: #FFFFFF;
    width: 23vw;
    height: 24vh;
    border-radius: 16px;
}

.results-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vh 1vw;
    background: none;
    height: 15vh;
    width: 21vw;
    gap: 8px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.result-info{
    display: flex;
    justify-content: space-between;
    padding: 4px 0;
    height: 3vh;
    width: 20vw;
    background: #FFFFFF;

}

.result-info p{
    color: #072635;
    font-size: 15px;
    margin: 0;
    background: none;
}

.result-info .download-icon{
    width: 16px;
    height: 16px;
    background: none;
    margin-right: 1vw;
}

.results-list::-webkit-scrollbar {
  width: 6px;
  
}
.results-list::-webkit-scrollbar-thumb {
  background: #072635;
  border-radius: 999px;
}


@media(max-width:1024px){
    .results h4{
        font-size: 14px;
    }

    .results-list .result-info p{
        font-size: 13px;
    }

    .results-list .result-info .download-icon{
        width: 14px;
        height: 14px;
        background: none;
        margin-right: 1vw;

    }
}

@media(max-width:768px){
    .results h4{
        font-size: 12px;
    }

    .results-list .result-info p{
        font-size: 11px;

    }

    .results-list .result-info .download-icon{
        width: 12px;
        height: 12px;
        background: none;
        margin-right: 1vw;
        
    }
}
